.row
  .col-sm-12
    = form_tag search_pulls_path, method: :get, id: "search-form", remote: true do
      .form-group
        = label_tag :branch, "Branch", class: "sr-only"
        = text_field_tag :branch, "", placeholder: "Branch", autofocus: true, class: "form-control input-lg"

    #results
    #loading.loader{style: "display:none;"}
